* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(234, 214, 253);
}

h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 4.5rem;
    color: white; 
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h2, h3 {
    font-family: "Jaini", "Cambria", system-ui;
    color: rgb(72, 1, 138);
}

p {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

#grid {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "nav nav nav nav nav nav"
        "head head head head head head"
        ". logo logo logo logo ."
        ". intro intro intro intro ."
        

    ;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 6rem 9rem 4fr 1fr;
    gap: 1rem;
    text-align: center;
    
}

/*Navigation*/

#grid nav {
    grid-area: nav;
    background-color: rgb(42, 4, 78);
    display: flex;
    /*justify is for row*/
    justify-content: space-between; 
    
}

nav img {
    width: 6rem;
    height: auto;
    background-color: rgb(247, 240, 253);
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
}
nav li a {
    text-decoration: none;
    padding: 2rem;
    background-color: rgb(250, 234, 11);
    width: 11rem;
    color: rgb(62, 0, 121);
    font-family: "Jaini", "Cambria", system-ui;
    font-size: 2rem;
    margin-left: 1rem;
}

nav li a:hover {
    font-size: 2.5rem;
    transition: .3s;
    padding: 1rem;
}

nav li a:active {
    background-color: rgb(255, 248, 148);
    color: rgb(176, 88, 216);
    transform: scale(.85);
    transition: .2s;
}

/*Banner*/

header {
    grid-area: head;
    background-color: rgb(178, 100, 250);
    display: grid;
    align-items:center;
    
}

#behind-overlay {
    grid-area: logo;
    background-color: rgb(82, 165, 238);
    background-image: url("./images/bkg1-lavender-field-1031258_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner img {
    grid-area: logo;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

/* Intro */

.banner-text {
    grid-area: intro;
    background-color: rgb(200, 149, 247);
    display: grid;
}

/* Projects */

.projects {
    color: rgb(240, 240, 240);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 5;
    grid-column: 1 / span 6;
}

.projects div {
    background-color: rgb(0, 0, 0);
    height: 20rem;
    overflow-y: scroll;
/* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.projects div::-webkit-scrollbar {
    display: none;
}

.projects p {
    padding: 0 1rem;
}

.projects h3 {
    position: sticky;
    top: 0;
    height: 3rem;
    background-color: rgb(255, 248, 148);
}

.projects h3 a {
    height: 3rem;
    text-decoration: none;
    color: rgb(72, 1, 138);
    transition: 0.5s;
    background-color: rgb(250, 234, 11);
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
}

.projects h3 a:after {
    
    position: absolute;
    left: 13rem;
    opacity: 0;
    top: 0;
    right: 10rem;
    transition: 0.5s;
}

#proj-1 a:after {
    content: url('./images/SubButterfly-1.png');
}

#proj-2 a:after {
    content: url('./images/SubButterfly-2.png');
    left: 7rem;
}

#proj-3 a:after {
    content: url('./images/SubButterfly-3.png');
    left: 15rem;
}

#proj-4 a:after {
    content: url('./images/SubButterfly-4.png');
    left: 10rem;
}

#proj-5 a:after {
    content: url('./images/SubButterfly-5.png');
    left: 5rem;
}

.projects h3 a:hover {
    padding-right: 6rem;
    transition: 0.5s;
}

.projects h3:hover a:after {
    opacity: 1;
    right: 0;
}

.projects h3 a:active {
    color: rgb(176, 88, 216);
    transition: 0.2s;
    background-color: rgb(255, 248, 148);
    transform: scale(.85);
}

.projects h3:active {
    transition: 0.2s;
    background-color: rgb(255, 248, 148);
}


.projects img {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}


/* "Secret" Game */

.play {
    grid-column: 2 / span 4;
}

.play h3 {
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgb(217, 181, 250);
}

.play .arrow i {
    color: rgb(62, 0, 121);
    font-size: 2.4rem;
    background-color: rgb(250, 234, 11);
    padding: 1.5rem 4rem;
}

.play i:hover {
    padding: 1.2rem 3.8rem;
    font-size: 3rem;
    transition: 0.2s;
}

.play i:active {
    padding: 1.7rem 3.6rem;
    font-size: 1.6rem;
    background-color: rgb(255, 248, 148);
    color: rgb(176, 88, 216);
}


#secret-game {
    display: none;
    background-color: rgb(106, 32, 175);
    padding: 20rem 0;
}
/*Temp Ending*/

.thank {
    grid-row: 6;
    grid-column: 1 / span 6;
}

footer {
    padding: 3rem;
    background-color: rgb(42, 4, 78);
    grid-column: 1 / span 6;
}