* {
  font-family: "Merienda", cursive;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 3px;
  background-color: #47d847;
}

.game-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: center
}

h1 {
  font-family: "Black Ops One", system-ui;
  font-size: 40px;
  color: rgb(250, 250, 250);
  text-shadow: #0000d6 0 6px;
  border-bottom: 10px dotted currentColor;
  border-top: 10px dotted currentColor;
  padding-bottom: 6.5px;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.rounds p, #round-number, #target-number {
  font-family: "Black Ops One", system-ui;
  color: rgb(255, 255, 255);
}

.round-label {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.guess {
  min-width: 303px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
}

.guessing-area {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 60px;
}

.guess-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.guess-title p {
  color: white;
}

.guess-label {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.score-label {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.target-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.computer-guess {
  background-color: #0d00c4;
}

#computer-guess {
  font-size: 50px;
  font-weight: 700;
  color: #c0b2ff;
}

.human-guess {
  border: 1px solid #09ff00;
  background-color: #7474fc;
}

.guess input {
  height: 90px;
  width: 90px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

.number-controls {
  font-size: 0;
  margin-bottom: 23px;
}

.number-control {
  border: solid 1px #000080;
  display: inline-block;
  width: 45px;
  height: 35px;
  font-size: 24px;
  font-weight: 700;
  color: #000080;
  cursor: pointer;
}

.number-controls button[disabled] {
  color: #dfdfdf;
  cursor: default;
}

.left {
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
}

.right {
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #000080;
  color: #fff;
  cursor: pointer;
}

#guess {
  padding: 20px;
  width: 169px;
  height: 59px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#next-round {
  width: 179px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
  
.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

.instructions {
  background-color: #536dfd;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.instruction {
  color: #ffffff;
  width: 180px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 14px;
}


.winning-text, .winning-text[disabled] {
  color: #1cd11c;
  text-shadow: -1px 0 rgb(4, 107, 12), 0 1px rgb(4, 107, 12), 1px 0 rgb(4, 107, 12), 0 -1px rgb(4, 107, 12);
  font-weight: 700;
  letter-spacing: 2px;
}